h1{
    text-align: center;
    color:rgb(21, 6, 241);
    font-family:cursive;
    font-weight: bold;
    font-style: italic;
    background-image: url("https://w0.peakpx.com/wallpaper/376/61/HD-wallpaper-all-characters-of-apex-legends-apex-legends.jpg") ;
}
h2{
    text-align: center;
    color:rgb(21, 6, 241);
    font-family: cursive;
    border-style: solid;
    background-color: rgb(0, 41, 128);
  opacity: 1;
  font-style: italic;
  font-weight: bold;
}
body,html,*{
    margin:0;
    padding: 0;

}
.Legend{
    background: url("https://i.redd.it/5p16231zzx651.png");
    height: 100vh;
}
.centering{
    display: flex;
    justify-content: space-around;
}
